{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/inspect.css' %}">
  <title>회원가입</title>
</head>
<body>
  <form method = "POST" action="{% url 'signup' %} " enctype="multipart/form-data">
    {% csrf_token %}

    <!--{% for field in form %}
    <fieldset>
        <label class="form_label">{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}"
        name="{{ field.name }}" class="form_field">
    </fieldset>
  
  {% endfor %}-->
    {{form.as_p}}
    
    <button type="submit">가입</button>
  </form>
<script src="{% static 'js/inspect.js' %}"></script>
</body>
</html>

<!--<form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
    {% csrf_token %} 
    {{form.as_p}}
    <button type="submit">가입</button> 
</form>-->