{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/update_password.css' %}">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'update_password' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <p>이름 : {{user.username}}</p>
        {{form.as_p}}
        <button class="p-btn" type="submit">비밀번호 수정</button>
    </form>
</body>
</html>