{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/read.css' %}">
    <title>나만의 가계부 만들기</title>
</head>
<body>
    <h2>Read</h2>
    <form method ="POST">
        {% for cashbooks in cashbooks.all %}
        <h3>제목 : <a href="{% url 'detail' cashbooks.id %}" cashbooks.id>{{cashbooks.title}}</a></h3> 

        {% endfor %}
</body>
</html>
